<<<<<<< HEAD
$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.main-view {
  background-color: #000;
}
=======

.btn-header {
    font-size: 1.5em;
    padding: 0;
}

.main-view-card {
  display: block;
}

.sub-links { 
width: auto;
  font-size: .85em;
  padding: 0;
  margin: 0 20px;
  align-content: right;
}

>>>>>>> 3.4
