.main-view {
    background: pink;
    width: 100vw;
    height: 100vh;
}
.user-view {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.registration-container {
    background: red;
}

.other-view {
    background-color: red !important;
}



.view-container {
    background-color: red;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.movie-poster {
    width: 10vw
}

.log-container {
    background-color: yellowgreen;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
 