@import "../../css/global.css";
.main-view::after {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.user-view {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.registration-container {
    background: red;
}

.other-view {
    background-color: red !important;
}

.view-container {
    background-color: red;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.movie-poster {
    width: 10vw;
}

 