$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.card-container {
  width: 100vw;  
}

.movie-card { 
  margin: auto;
  padding: auto;  

}

.movie-poster {
  background-color: #cecece;
  width: 125px;
  height: 50px;
}

.movie-title {
  text-decoration: none;
  text-align: left;
}

.open-button {
  margin-top: 5vh;
}