@import "../../css/global.css";

.card-container {
  width: 35rem;
  margin: 0 auto; 
  display: flex;  
  justify-content: space-between;  
 padding: 2rem;
}

// .card-main {
//   background-color: var(--accent);
//   justify-content: space-between;
//   border-radius: 2rem; 
// }
 
 

.card-body {
  border: 2px dotted red; 
  height: inherit;
}

.card-title {
  font-family: var(--ff-primary);
  font-size: 2rem;
  font-weight: 600;
  border: 2px solid rgb(255, 113, 236)
}

.card-footer { 
  background-color: transparent !important; 

}

.card-img { 
  border-radius: 2rem;
  height: auto;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.7s ease-in-out;
}

.card-img:hover { 
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}
