@import "../../css/global.css";
@import "../../css/responsive.css";

.nav-brand {
    font-size: 3rem;
    margin: 0.5rem 5rem;
    font-weight: 800;
    font-family: var(--ff-primary);
    text-align: center;
    letter-spacing: -0.125rem;
    color: var(--white) !important;
    filter: drop-shadow(-0.063rem 0.813rem 0.5rem rgba(12, 15, 10, 0.5));
}

.nav-bg {
    background-color: var(--primary);
}

.nav-links {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    margin: 0 5rem;
    justify-content: space-evenly;
}

.usr-link {
    color: var(--white) !important;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--ff-tri);
}

.usr-link:hover {
    text-decoration: none;
}

.usr-group {
    transition: 0.2s width;
    padding: 5px 0;
    transition: all 500ms ease;
    border-bottom: 2px solid transparent;
}

.usr-group:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
}

.log-out {
    cursor: pointer;
    color: var(--accent) !important;
    font-family: var(--ff-primary);
    transition: all 500ms ease;
}
.log-out:hover {
    color: var(--white) !important;
}
