@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");


@import "./responsive.css";

:root {
  /** main **/
  --white: #e5e7e6;
  --black: #0c0f0a;
  /*rgba(12,15,10,1.0) * /
  --primary: #b7094c;

  /** accents **/
  --yellow: #edae49;
  --blue: #3b60e4;
  --accent: #fc4d7d;
  --dk-accent: #892b64;
  /** rgba(137,43,100,1.0) **/

  --primary: #b7094c;
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Source Sans Pro", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: inherit !important;
  background-size: cover;
  width: 100%;
  height: 100%;
}
