@import "../../css/global.css";

 
.login-container {
    background-image: linear-gradient(45deg, rgba(137, 43, 100, 1), rgba(0, 0, 0, 0.75)), url(../../img/login-bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;  
    animation: moveBg 40s ease 1s 2 alternate none;
}
@keyframes moveBg {
	100% {
	  background-position: bottom right;
	}
}

.login-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    min-width: 30vw;
    
}

.login-form {
    margin-top: 15vh;
    min-width: 25vw;
    padding: 5vh 2vw;
}

.login-logo {
    width: inherit;
    font-size: 8rem;
    font-kerning: normal;
    font-weight: 800;
    font-family: var(--ff-primary);
    background-image: -webkit-linear-gradient(45deg, var(--white), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0.5rem 0 1rem rgba(12, 15, 10, 0.5));
}

::placeholder {
    color: var(--primary);
    padding: 1vw;
}
