$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.login-container {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow:  39px 39px 100px #bebebe,
             -39px -39px 100px #ffffff;
}

.register-button, .submit-login {
  color: #000;
  background-color: $secondaryColor;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 5px;
  font-weight: bold;
}

Button:hover {
  background-color: #00b7ff;
  font-weight: bold;
  text-decoration: none;
}

.contain{
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow:  39px 39px 100px #bebebe,
             -39px -39px 100px #ffffff;
}

.sign {
  padding-top: 40px;
  color: $primaryColor;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}