@import "../../css/global.css";

.login-container {
    background-image: linear-gradient(225deg, rgba(229, 231, 230, 0.5) 0%, rgba(212, 216, 214, 1)),
        url(../../img/login-bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
    animation: moveBg 40s ease 1s 2 alternate none;
}
@keyframes moveBg {
    100% {
        background-position: bottom right;
    }
}

.login-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    min-width: 30vw;
}

.login-form {
    margin-top: 15vh;
    min-width: 25vw;
    padding: 5vh 2vw;
}

.login-form h5 {
    font-family: var(--ff-secondary);
    color: var(--black);
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
}

.login-logo { 
    font-size: 9rem; 
    font-weight: 800;
    font-family: var(--ff-primary);
    letter-spacing: -5px;
    background-image: -webkit-linear-gradient(95deg, var(--accent), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover; 
    filter: drop-shadow(-0.063rem 0.75rem 0.5rem rgba(52, 53, 52, 0.75));
}

.under-form {
    color: var(--black);
    font-family: var(--ff-secondary);
    padding-top: 2rem;
    align-items: baseline;
}

.under-form a {
    color: var(--dk-accent);
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
}

.under-form a:hover {
    text-decoration: none;
    color: var(--primary);
}

.login-btn {
    width: 13.75rem;
    height: 3.125rem;
    border-radius: 10px;
    border: 0;
    font-family: var(--ff-primary);
    color: var(--white);
    font-weight: 600;
    font-size: 1.125rem;
    background-color: var(--primary);
    transition-property: width;
    transition-duration: 0.5s;
    margin: 2rem auto;
    align-content: center;
    align-items: center;
    transition: 0.5s all ease-in-out;
}

.login-btn:hover {
    width: 15rem;
    background-color: var(--primary);
    transition: 0.2s all ease-in;
    -webkit-box-shadow: 0px 7px 12px 3px rgba(50, 50, 50, 0.37);
    -moz-box-shadow: 0px 7px 12px 3px rgba(50, 50, 50, 0.37);
    box-shadow: 0px 7px 12px 3px rgba(50, 50, 50, 0.37);
}

.login-placeholder {
    box-shadow: inset 5px 5px 10px #8d8d8d, inset -5px -5px 10px #ffffff;
}
