@import './css/global.css';

/* body,
html {
  background: linear-gradient(
    to right top,
    #892b64,
    #81336c,
    #793b73,
    #704178,
    #67477b,
    #604f84,
    #57578b,
    #4f5f91,
    #416c9d,
    #2f79a6,
    #1885ab,
    #0091ad
  ); 
  background-repeat: no-repeat;
  background-size: cover ;
} */