@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Raleway&display=swap');
$ff-primary:'Poppins', sans-serif;
$ff-secondary: 'Raleway', sans-serif;
$color: steelblue;

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}